{% extends "aldryn_newsblog/base.html" %}
{% load i18n thumbnail apphooks_config_tags %}

{% block newsblog_content %}
    
        <section class="page-section">
          <div class="container">
          	<div class="row">
	          	{% for article in article_list %}
		            <div class="col-12 col-lg-3 col-md-5" style="margin-right: 50px;">
			            <div class="product-item">
			                <div class="product-item-title d-flex" >
			                    <div class="bg-faded p-5 d-flex ml-auto rounded">
			                        <h2 class="section-heading mb-4">
			        					<span class="section-heading-upper">{{ article.meta_title }}</span>
			        					<a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}" style="color:black;font-size:3rem; font-weight:100">
			        						{{ article.title }}
			        					</a>
			        				</h2>
			        			</div>
			        		</div>
			        		
			                <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
				             	
				                <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 img-responsive" src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
				            </a>
			            
			                    
			        	</div>
			        </div>
	        	{% empty %}
			        <p>{% trans "No items available" %}</p>
			    {% endfor %}
			</div>

          </div>
        </section>

		
        
    

    {% include "aldryn_newsblog/includes/pagination.html" %}
{% endblock %}
